{% extends "layout.html"%}
{% block title %}
    Add to portfolio
{% endblock %}

{% block main %}
<div id="login">
    <div class="login-border">
        <h3>Add stocks to Portfolio</h3>
        <form action="/addportfolio" method="post">
            <div class="login-input">
                <h5 class="addportfolio-h5">Stock:</h5>
                <input name="ticker" id="login-username" required autocomplete="off" autofocus class="form-control mx-auto w-auto" type="text" placeholder="Ticker Symbol" aria-label="default input example">
            </div>
            <div class="login-input input-icon input-icon-left">
                <h5 class="addportfolio-h5">Price at purchase:</h5>
                <input class="purchased-price-input form-control mx-auto w-auto" name="price" id="login-username" required autocomplete="off" autofocus class="form-control mx-auto w-auto" type="text" placeholder="Price at purchase" aria-label="default input example" >
                <i>$</i>
            </div>
            <div class="login-input">
                <h5 class="addportfolio-h5">Date purchased:</h5>
                <input name="date" id="login-username" required autocomplete="off" autofocus class="form-control mx-auto w-auto" type="text" placeholder="DD-MM-YYYY" aria-label="default input example" pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" oninvalid="setCustomValidity('DD-MM-YYYY')">
            </div>
            <div class="login-input">
                <h5 class="addportfolio-h5">Quantity purchased: </h5>
                <input name="quantity" id="login-username" required autocomplete="off" autofocus class="form-control mx-auto w-auto" type="text" placeholder="Quantity" aria-label="default input example" pattern="^[0-9]+$" oninvalid="setCustomValidity('Only numeric characters allowed')">
            </div>
            <div class="login-button-div">
            <button class="btn btn-primary" type="submit" id="login-button">Confirm</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}