{% extends "layout.html" %}
{% block title %}
    Change Password
{% endblock %}

{%block main%}
    <div id="login">
        <div class="login-border">
            <h1 style="margin: 0px;"><i class="fa-solid fa-user-pen"></i></h1>
            <h3>
                Change Password
            </h3>
            <form action="/changepassword" method="post">
                <div class="login-input">
                    <input type="password" name="old-password" id="login-password" required autocomplete="off" class="form-control mx-auto w-auto" type="text" placeholder="Current Password" aria-label="default input example">
                </div>
                <div class="login-input">
                    <input type="password" name="new-password" id="login-password" required autocomplete="off" class="form-control mx-auto w-auto" type="text" placeholder="New Password" aria-label="default input example">
                </div>
                <div class="login-button-div">
                <button class="btn btn-primary" type="submit" id="login-button">Change</button>
                </div>
            </form>
        </div>
    </div>
{% endblock%}