{% extends "layout.html" %}
{% block title %}
    Login
{% endblock %}

{% block main %}
    <div id="login">
        <div class="login-border">
            <div class="brand-name-container">
                <h3 class="brand-name"><span class="light-green">Top</span><span class="dark-green">line</span></h3>
                <p class="brand-name-p2">the portfolio tracker</p>
            </div>
            <form action="/login" method="post">
                <div class="login-input">
                    <input name="username" id="login-username" required autocomplete="off" autofocus class="form-control mx-auto w-auto" type="text" placeholder="Username" aria-label="default input example">
                </div>
                <div class="login-input">
                    <input type="password" name="password" id="login-password" required autocomplete="off" class="form-control mx-auto w-auto" type="text" placeholder="Password" aria-label="default input example">
                </div>
                <div class="login-button-div">
                <button class="btn btn-primary" type="submit" id="login-button">Login</button>
                </div>
            </form>
            <div id="or">
                <hr>
                <span class="or">OR</span>
                <hr>
            </div>
            <div id="login-register">
                <a href="/register" id="login-register-button">Register here</a>
            </div>
        </div>
    </div>
{% endblock %}
